<div>
  <div class="item-header row-space">
    <span class="symbol-name"
      >{{ item.symbol | uppercase }} <mat-icon>chevron_right</mat-icon></span
    >
    <span class="caption">{{ item.exchange }}</span>
  </div>
  <span class="row">
    <p
      class="chip"
      [ngClass]="{
        'green-chip': item.type === 'buy',
        'red-chip': item.type === 'Sell'
      }"
    >
      {{ item.type | titlecase }}
    </p>
    &nbsp;&nbsp;&nbsp;
    <p class="caption">{{ item.date | date: "dd/MM/yyyy" }}</p>
  </span>
  <div class="infobox">
    <div style="text-align: left; flex: 2">
      <span class="caption">Amount: </span>
      <span class="focus">{{ item.amount }}</span>
    </div>
    <div class="caption" style="flex: 1">x</div>
    <div style="flex: 2">
      <span class="caption">Price: </span>
      <span class="focus">${{ item.price }}</span>
    </div>
    <div class="caption" style="flex: 1">=</div>
    <div style="text-align: right; flex: 2">
      <span class="caption">Total: </span>
      <span class="focus">${{ item.amount * item.price | number }}</span>
    </div>
  </div>
</div>
