<div class="column wrapper">
  <div class="caption-text">
    <span>About Profitolio</span>
  </div>
  <div class="content-wrapper">
    <p>
      Profitolio is a cryptocurrency portfolio manager designed to help you
      track your tradings and investment performances. Profitolio allows you to
      track the market value of your investments along with the volume-weighted 
      average price of individual crypto you have invested. You can keep a journal 
      of buying and selling, and see the current profitability of the portfolio.
      Realised / Unrealised P&L information are also available for individual 
      cryptocurrency as well as the portfolio wise.
    </p>
  </div>
  <div class="caption-text">
    <span>About Me</span>
  </div>
  <div class="content-wrapper">
    <p>
      Hi! I'm Min Naing Oo, a developer and a crypto enthusiastic. I used to track my 
      investments in a Excel sheet and it wasn't very easy to track the market price, 
      profits/losses and the asset allocations. I recently started learning Angular 
      and as an effort to put my knowledge to the test, I tried to create this app 
      which is an improvement to my portfolio in the excel sheet and tailered to suit 
      my trading style.
    </p>
    <div style="text-align: left">
      <a
        href="https://www.linkedin.com/in/min-naing-oo-56b30284/"
        target="_blank"
        class="link"
      >
        <span class="row" style="align-items: center">
          <mat-icon svgIcon="linkedin"></mat-icon> Find me on LinkedIn
        </span>
      </a>
      <br />
      <a href="mailto:minnaingoo@outlook.com" target="_blank" class="link">
        <span class="row" style="align-items: center">
          <mat-icon>email</mat-icon> Send me an email
        </span>
      </a>
    </div>
  </div>
  <div class="caption-text">
    <span>Dependencies</span>
  </div>
  <div class="content-wrapper">
    <p>
      Angular, Angular Material, Angular Router, NgRx Store & Effects, RxJS, 
      Firebase for backend, CoinGecko for cryptocurrency prices.
    </p>
  </div>
</div>
