.wrapper {
  padding: 0 20px 20px 20px;
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.caption-text {
  text-align: center;
  border-bottom: 1px solid black;
  line-height: 0.1em;
  margin: 40px 0px 20px;
  width: 100%;
}

.caption-text > span {
  background: white;
  padding: 0px 10px;
}

.content-wrapper {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}
