<div>
  <mat-tab-group
    [selectedIndex]="activeIndex"
    (selectedTabChange)="onTabChange($event)"
    animationDuration="500ms"
    backgroundColor="primary"
    #tabGroup
  >
    <mat-tab label="Holdings">
      <app-holding-list (filterTradings)="onFilterTradings(tabGroup)"></app-holding-list>
    </mat-tab>
    <mat-tab label="Tradings">
      <ng-template matTabContent>
        <app-trading-list></app-trading-list>
      </ng-template>
    </mat-tab>
    <mat-tab label="Overview">
      <ng-template matTabContent>
        <app-overview></app-overview>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
