.item-header {
  margin: 10px 0px;
}

.symbol-name {
  font-weight: 450;
  font-size: medium;
  color: darkblue;
  display: flex;
  align-items: center;
}

.infobox {
  display: flex;
  justify-content: space-between;
}

.infobox > div {
  margin-bottom: 10px;
  text-align: center;
}

.footer-info {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.row-space {
  display: flex;
  justify-content: space-between;
}

.row {
  display: flex;
}

.merged-icon {
  transform: scale(0.7);
  font-weight: bold;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
