<p class="app-toolbar">
  <mat-toolbar color="primary">
    <div style="display: flex; align-items: center">
      <button
        mat-icon-button
        (click)="onOpenDrawer()"
        *ngIf="!showBackButton; else showBack"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <ng-template #showBack>
        <button mat-icon-button (click)="onToolbarAction('BACK')">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </ng-template>
      <span
        ><img
          src="/assets/harlow.png"
          style="max-height: 30px; padding-top: 15px"
      /></span>
    </div>
    <span class="spacer"></span>
    <div *ngIf="currentpage == '/#Holdings'">
      <app-sorting-menu (sorted)="onHoldingSort($event)"></app-sorting-menu>
    </div>
    <div *ngIf="currentpage == '/#Tradings'">
      <button mat-icon-button (click)="onToolbarAction('MERGE')">
        <mat-icon>merge</mat-icon>
      </button>
      <button mat-icon-button (click)="onToolbarAction('FILTER')">
        <mat-icon
          *ngIf="filterActive; else noFilter"
          matBadge="&#8288;"
          matBadgeColor="warn"
          matBadgeSize="small"
          matBadgePosition="below after"
          >filter_list</mat-icon
        >
        <ng-template #noFilter><mat-icon>filter_list</mat-icon></ng-template>
      </button>
    </div>
    <div *ngIf="isHomePage">
      <button mat-icon-button (click)="onToolbarAction('REFRESH')">
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-icon-button (click)="onToolbarAction('ADD')">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div *ngIf="currentpage == '/new'">
      <button mat-icon-button (click)="onToolbarAction('ENTRY_DONE')">
        <mat-icon>done</mat-icon>
      </button>
    </div>
    <div *ngIf="currentpage == '/edit'">
      <button mat-icon-button (click)="onToolbarAction('DELETE')">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button (click)="onToolbarAction('ENTRY_DONE')">
        <mat-icon>done</mat-icon>
      </button>
    </div>
    <div *ngIf="currentpage == '/merge'">
      <button mat-icon-button (click)="onToolbarAction('MERGE_HELP')">
        <mat-icon>help_outline</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</p>
