<form [formGroup]="entryForm" class="wrapper column">
  <div
    style="
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 15px;
    "
  >
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        (click)="picker.open()"
        [formControl]="dateControl"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div class="toggle-radio">
      <input
        type="radio"
        name="type"
        id="buy-switch"
        value="buy"
        formControlName="type"
      />
      <input
        type="radio"
        name="type"
        id="sell-switch"
        value="sell"
        formControlName="type"
      />
      <div class="switch">
        <label for="buy-switch">BUY</label>
        <label for="sell-switch">SELL</label>
        <span></span>
      </div>
    </div>
  </div>

  <mat-form-field appearance="fill">
    <mat-label>Symbol</mat-label>
    <input
      type="text"
      matInput
      [formControl]="symbolControl"
      [matAutocomplete]="symbol"
      [ngStyle]="{ 'text-transform': 'uppercase' }"
    />
    <button
      *ngIf="entryForm.get('symbol').value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="entryForm.get('symbol').setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
    <mat-autocomplete #symbol="matAutocomplete">
      <mat-option *ngFor="let symbol of symbolList" [value]="symbol">
        {{ symbol }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Exchange</mat-label>
    <input
      type="text"
      matInput
      [formControl]="exchangeControl"
      [matAutocomplete]="exchange"
    />
    <button
      *ngIf="entryForm.get('exchange').value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="entryForm.get('exchange').setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
    <mat-autocomplete #exchange="matAutocomplete">
      <mat-option *ngFor="let exchange of exchangeList" [value]="exchange">
        {{ exchange }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Amount</mat-label>
    <input type="number" matInput [formControl]="amountControl" #amount />
    <button
      *ngIf="entryForm.get('amount').value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="entryForm.get('amount').setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Price</mat-label>
    <input type="number" matInput [formControl]="priceControl" #price />
    <button
      *ngIf="entryForm.get('price').value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="entryForm.get('price').setValue('')"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Total</mat-label>
    <input
      matInput
      [formControl]="totalControl"
      [value]="+amount.value * +price.value"
    />
  </mat-form-field>
  <button
    mat-raised-button
    (click)="openSellingDialog()"
    *ngIf="entryForm.get('type').value === 'sell'"
    color="yellow"
  >
    <span *ngIf="sellingTrade; else pickOne">
      Selling: {{ sellingTrade.symbol | uppercase }} - unit price ${{
        sellingTrade.price
      }}
      | {{ sellingTrade.exchange }} |
      {{ sellingTrade.date | date: "dd/MM/yyyy" }}
    </span>
    <ng-template #pickOne>
      <span [ngStyle]="{ color: sellingTradeNotSelected ? 'red' : 'auto' }"
        >Pick one trade to sell *</span
      ></ng-template
    >
  </button>
</form>
